header {
    width: 100%;
    height: 6rem;
    position: sticky;
    top: 0;
    z-index: 3;
}

.main-nav-bar {
    width: 100%;
    height: 6rem;
    margin: 0 auto 0;
    position: relative;
    display: flex;
    background-color: var(--tone-4);
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2rem;
}

.main-nav-bar img {
    width: 13rem;
    height: auto;
}

.nav-bar-container {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    padding-right: 2rem;
}

.nav-bar-container .main-menu {
    height: 100%;
}

.nav-bar-container .main-menu> ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.nav-bar-container .main-menu > ul li {
    list-style: none;
    position: absolute;
    visibility: hidden;
    padding: 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
}

.nav-bar-container .main-menu ul li:hover {
    background-color: var(--black-blue);
    border-left: 0.01rem solid var(--very-light-gray);
    border-right: 0.01rem solid var(--very-light-gray);
}

#all_levels_container ul li:hover {
    background-color: var(--black-blue);
    border-left: 0.01rem solid var(--tone-4);
    border-right: 0.01rem solid var(--tone-4);
}

.nav-bar-container .main-menu ul li a, #all_levels_container {
    text-decoration: none;
    font-size: var(--medium-font);
    color: var(--very-light-gray);
    transition: 0.4s ease all;
}

.nav-bar-container .main-menu ul li a:hover {
    color: var(--celeste);
}

#home {
    color: var(--celeste);
}

#home:hover {
    color: var(--white);
}

.nav-bar-container svg {
    color: var(--white);
    border: 0.1rem solid var(--celeste);
    border-radius: 0.3rem;
}

.menu-icon__container {
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#all_levels_container {
    position: relative;
}

#secondary_menu {
    visibility: hidden;
    position: absolute;
    top: 6rem;
    left: -0.1rem;
    transition: 0.7s ease all;
    opacity: 0;
}

#all_levels_container:hover>#secondary_menu {
    visibility: visible;
    top: 6rem;
    left: -0.1rem;
    opacity: 1;
}

#secondary_menu li {
    background-color: var(--tone-4);
    width: 15rem;
    line-height: 3rem;
}


/* Dropdown Menu */
#dropdown_menu {
    display: none;
}

.dropdown-menu-container {
    display: flex;
    justify-content: flex-end;
}

#menu_icon {
    cursor: pointer;
}

nav #dropdown-list {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    padding-left: 3rem;
    background-color: var(--tone-4);
    z-index: 1000;
}

#dropdown-list li {
    width: 100%;
    justify-items: center;
    list-style: none;
    line-height: 6rem;
    display: block;
}

#dropdown-list li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--white);
    font-size: var(--medium-font);
    transition: 0.4s ease all;
}

#dropdown-list li a:hover {
    color: var(--celeste);
}

#dropdown-list #home2, #dropdown-list #ref2 {
    color: var(--celeste);
}

@media (min-width: 1024px) {

    .logo-container {
        width: 15rem;
    }
    
    .nav-bar-container {
        visibility: visible;
    }
    
    .nav-bar-container .main-menu ul li {
        position: static;
        visibility: visible;
    }
    
    .nav-bar-container .main-menu .list-item1 {
        position: relative;
    }
    
    .nav-bar-container .main-menu .list-item2 {
        position: relative;
    }
    
    .nav-bar-container .main-menu .list-item3 {
        position: relative;
    }
    
    .nav-bar-container .main-menu .list-item4 {
        position: relative;
    }
    
    .nav-bar-container .main-menu .list-item5 {
        position: relative;
    }
    
    .nav-bar-container .main-menu .list-item6 {
        position: relative;
    }
    
    .nav-bar-container .main-menu .list-item7,
    .nav-bar-container .main-menu .list-item8,
    .nav-bar-container .main-menu .list-item9,
    .nav-bar-container .main-menu .list-item10,
    .nav-bar-container .main-menu .list-item11,
    .nav-bar-container .main-menu .list-item12 {
        position: relative;
    }
    
    .dropdown-menu-container {
        display: none;
    }
}