.my-stages {
	position: relative;
}

.book {
	position: absolute;
	width: 15rem;
	height: auto;
	top: -7.5rem;
	left: calc(50% - 7.5rem);
}

.my-stages article {
	width: 100%;
	background-color: var(--black-blue);
}

.my-stages article div {
	margin-left: auto;
	margin-right: auto;
	width: 30rem;
	/* background-color: var(--white); */
	/* background-color: var(--black-blue); */
	color: var(--white);
	padding: 0.5rem;
	border-radius: 1rem;
}

.my-stages a {
	text-decoration: none;
	font-weight: bold;
}

.h2-mystages {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 0;
	border-bottom: 0.3rem solid var(--dark-green);
	/* background-color: var(--very-light-gray); */
	background-color: var(--black-blue);
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.my-stages .gamer-stages-h2__container div {
	padding: 0;
}

.gamer-stages-h2__container {
	padding: 0;
	/* background-color: var(--very-light-gray); */
}

/* .gamer-stages-h2__container div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--very-light-gray);
} */

.img-container {
	width: 27rem;
	height: 27rem;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.level1-container div {
	border: 0.4rem solid var(--main-blue);
}

.level1-container h3, .level1-container a {
	background-color: var(--main-blue);
	color: var(--white);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.level2-container div {
	border: 0.4rem solid var(--turquoise-blue);
}

.level2-container h3, .level2-container a {
	background-color: var(--turquoise-blue);
	color: var(--white);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.level3-container div {
	border: 0.4rem solid var(--tone-1);
}

.level3-container h3, .level3-container a {
	background-color: var(--tone-1);
	color: var(--white);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.level4-container div {
	border: 0.4rem solid var(--dark-green);
}

.level4-container h3, .level4-container a {
	background-color: var(--dark-green);
	color: var(--white);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.level5-container div {
	border: 0.4rem solid var(--purple-blue);
}

.level5-container h3, .level5-container a {
	background-color: var(--purple-blue);
	color: var(--white);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.level6-container div {
	border: 0.4rem solid var(--palid-red);
}

.level6-container h3, .level6-container a {
	background-color: var(--palid-red);
	color: var(--white);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.level7-container div {
	border: 0.4rem solid var(--dark-gray);
}

.level7-container h3, .level7-container a {
	background-color: var(--dark-gray);
	color: var(--white);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.level8-container div {
	border: 0.4rem solid var(--fucsia);
}

.level8-container h3, .level8-container a {
	background-color: var(--fucsia);
	color: var(--white);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.level9-container div, .level9-container .img-container {
	border: 0.4rem solid var(--celeste);
}

.level9-container h3, .level9-container a {
	background-color: var(--celeste);
	color: var(--black-blue);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.finalthoughts-container div {
	border: 0.4rem solid var(--burn-yellow);
}

.finalthoughts-container h3, .finalthoughts-container a {
	background-color: var(--burn-yellow);
	color: var(--tone-4);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.press-start_container {
	background-image: linear-gradient(to left bottom, #1c3557, #1d4476, #1d5496, #1f63b8, #2573da);
}

.health-bar__container {
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(103,120,143,0.5354516806722689) 98%);
}

.game-room__container {
	background-color: #040104;
}

.lucky-gamer__container {
	background-color:#89c97f;
}

.pause-container {
	background-image: linear-gradient(to right top, #6e68a0, #604a6f, #473045, #281b22, #000000);
}

.never-quit {
	background-image: radial-gradient(circle, #f2f2f2, #e6d4e9, #e9b2cf, #ed90a2, #e37366);
}

.controllers {
	background-color: #3c56a6;
}

.gamer-on__container {
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(103,120,143,0.5354516806722689) 98%);
}

.gamer-forever {
	background-color: #262d3a;
}

.thinking-dk {
	background-image: radial-gradient(circle, #f2f2f2, #fee2f4, #ffced3, #ffc798, #e3d166);
}

.img-container img {
	width: 90%;
    height: auto;
	border-radius: 1rem;
	transition: 0.9s ease all;
}

.img-container img:hover {
    width: 120%;
}

@media (min-width: 700px) {
	.img-container {
		width: 35rem;
		height: 35rem;
		margin-left: auto;
		margin-right: auto;
	}

	.my-stages article div {
		width: 68rem;
		padding: 1rem;
		border-radius: 1rem;
	}

	.book {
		width: 20rem;
		height: auto;
		top: -9.5rem;
		left: calc(50% - 10rem);
	}
}

@media (min-width: 1024px) {
	.my-stages article div {
		width: 80rem;
	}
}