.h2-aboutme {
	text-align: center;
	margin-bottom: 3rem;
}

/* .about-me {
	display: flex;
	align-items: center;
} */

.intro {
	position: relative;
	height: 66rem;
}

.intro p {
	font-weight: bold;
}

.intro img {
	width: 100%;
	/* max-width: 33.7rem; */
	/* height: 100%; */
	/* width: auto; */
	height: auto;
	position: absolute;
	top: calc(50% - 22.145rem);
	left: calc(50% - 14rem);
	z-index: -1;
	opacity: 0.3;
}

@media (min-width: 700px) {
	.intro {
		height: 50rem;
	}
	.intro img {
		width: 28rem;
	}
}

@media (min-width: 1024px) {
	.intro {
		height: 43rem;
	}
	/* .intro img {
		width: 28rem;
	} */
}