.final-level__section {
    padding-top: 2rem;
}

.final-level__h2 {
	width: 100%;
	margin: 0 auto 3rem;
	padding: 3rem 1rem;
	background-color: var(--burn-yellow);
	color: var(--tone-4);
	border-radius: 0.5rem;
    border: 0.2rem solid var(--tone-4);
}

.final-level__section article:nth-child(2) {
	border-top: 0.2rem solid var(--burn-yellow);
}

.time, .developer {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}

.developer {
    border-radius: 10%;
}

.memories {
	width: 10rem;
    height: auto;
	float: left;
	border-radius: 50%;
    margin-right: 0.5rem;
}

.gracias {
    width: 15rem;
    height: auto;
	float: left;
    margin-right: 0.5rem;
    border-radius: 10%;
}

.the-end__container {
    text-align: center;
}

.the-end__container h2 {
    margin: 0;
    font-size: 6rem;
}


@media (min-width: 700px) {

	.final-level__h2 {
		width: 68rem;
	}

    .time, .developer, .gracias {
        width: 30rem;
    }
    
    .memories {
        width: 20rem;
    }

    .final-level__section .all-characters {
        width: 66rem;
    }
}

@media (min-width: 1024px) {
	.final-level__h2 {
		width: 80rem;
	}

    .final-level__section .all-characters {
        width: 78rem;
    }
}