.level8-h2 {
	width: 100%;
	margin: 0 auto 3rem;
	padding: 3rem 1rem;
	background-color: var(--fucsia);
	color: var(--white);
	border-radius: 0.5rem;
}

.level8-section .past article:first-child {
	border-top: 0.2rem solid var(--fucsia);
}

.level8-section h3 {
	text-align: center;
	margin-top: 4rem;
	text-decoration: underline;
}

.long-list, .money-wings {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}

.broken-laptop {
	width: 10rem;
    height: auto;
	float: left;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

.magic {
	width: 15rem;
    height: auto;
	float: left;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

.devices {
	display: flex;
	align-items: center;
	justify-content: center;
}

.devices img {
	width: 50%;
	height: auto;
}

.ps3-digital-games__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
	justify-content: center;
}

.ps3-digital-games__container img {
	width: 13rem;
    height: auto;
	border-radius: 0.5rem;
}

.fist {
	position: absolute;
	width: 5rem;
	height: auto;
	top: -2.62rem;
	left: calc(50% - 2.5rem);
}

@media (min-width: 700px) {

	.level8-h2 {
		width: 68rem;
	}

	.long-list, .money-wings {
		width: 30rem;
	}

	.broken-laptop, .magic {
		width: 20rem;
	}

	.fist {
		width: 10rem;
		height: auto;
		top: -5.23rem;
		left: calc(50% - 5rem);
	}
}

@media (min-width: 1024px) {
	.level8-h2 {
		width: 80rem;
	}

	.broken-laptop__paragraph {
		padding-top: 4rem;
	}

	.money-wings__paragraph {
		margin-top: 8rem;
	}

	.magic__paragraph {
		padding-top: 4rem;
		margin-top: 8rem;
	}

	.first-console__paragraph {
		margin-top: 8rem;
	}
}