.level7-section {
	padding-top: 2rem;
}

.level7-h2 {
	background-color: var(--dark-gray);
	color: var(--white);
}

.level7-section .past article:first-child {
	border-top: 0.2rem solid var(--dark-gray);
}

.happy-gamer {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}

.emulators {
	position: absolute;
	width: 5rem;
	height: auto;
	top: -2.5rem;
	left: calc(50% - 2.5rem);
}

@media (min-width: 700px) {
	.happy-gamer  {
		width: 30rem;
	}

    .emulators {
        position: absolute;
        width: 8rem;
        height: auto;
        top: -4rem;
        left: calc(50% - 4rem);
    }
}