.level3-h2 {
	width: 100%;
	margin: 0 auto 3rem;
	padding: 3rem 1rem;
	background-color: var(--tone-1);
	color: var(--white);
	border-radius: 0.5rem;
}

.level3-section article:nth-child(2) {
	border-top: 0.2rem solid var(--tone-1);
}

/* .article2, .article3, .article4 {
	position: relative;
} */

.mk {
	position: absolute;
	width: 5rem;
	height: auto;
	top: -2.5rem;
	left: calc(50% - 2.5rem);
}

.club {
	position: absolute;
	width: 8rem;
	height: auto;
	top: -2.14rem;
	left: calc(50% - 4rem);
}

.snes {
	position: absolute;
	width: 8rem;
	height: auto;
	top: -2.25rem;
	left: calc(50% - 4rem);
}

.magazines-covers__container, .magazines-pages__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
	justify-content: center;
}

.magazines-covers__container img, .magazines-pages__container img {
	width: 13rem;
    height: auto;
	border-radius: 0.5rem;
}

.paper {
	width: 8rem;
    height: auto;
	float: left;
	border-radius: 0.5rem;
	margin-right: 0.7rem;
}

.angry-uncle {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}

@media (min-width: 700px) {

	.level3-h2 {
		width: 68rem;
	}

	.mk {
		width: 10rem;
		height: auto;
		top: -5rem;
		left: calc(50% - 5rem);
	}

	.club {
		position: absolute;
		width: 12rem;
		height: auto;
		top: -3.2rem;
		left: calc(50% - 6rem);
	}

	.snes {
		position: absolute;
		width: 12rem;
		height: auto;
		top: -3.375rem;
		left: calc(50% - 6rem);
	}

	.paper {
		width: 20rem;
		margin-right: 1rem;
	}

	.angry-uncle {
		width: 30rem;
	}
}

@media (min-width: 1024px) {
	.level3-h2 {
		width: 80rem;
	}
}