.magazines-covers__container, .magazines-pages__container, .supernes-games__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
	justify-content: center;
}

.magazines-covers__container img, .magazines-pages__container img, .supernes-games__container img {
	width: 13rem;
    height: auto;
	border-radius: 0.5rem;
}

.angry-uncle {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}