.last-article {
	background-color: var(--black-blue);
	width: 100%;
	padding: 4rem 1rem;
}

.last-article div {
	width: 94%;
	margin: 0 auto;
}

.arrows-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--small-font);
}
  
.arrows-container a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--very-light-gray);
	text-decoration: none;
	font-weight: bold;
}

.bi-arrow-left {
	margin-right: 1rem;
}

.bi-arrow-right, .bi-house {
	margin-left: 1rem;
}

@media (min-width: 700px) {
	.last-article div, section > h2  {
		width: 68rem;
	}

	.arrows-container {
		font-size: var(--medium-font);
	}
}

@media (min-width: 1024px) {
	.last-article div, section > h2   {
		width: 80rem;
	}
}