.level2-section {
	padding-top: 2rem;
}

.level2-h2 {
	background-color: var(--turquoise-blue);
	color: var(--white);
}

.level2-section .first-article {
	border-top: 0.2rem solid var(--turquoise-blue);
}

.mario, .megaman {
	position: absolute;
	width: 5rem;
	height: auto;
	top: -2.5rem;
	left: calc(50% - 2.5rem);
}

.famicom-games__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
	justify-content: center;
}

.famicom-games__container img {
	width: 13rem;
    height: auto;
	border-radius: 0.5rem;
}

.punchout-name {
	text-align: center;
	font-size: 3rem;
}

.tyson-win {
	width: 15rem;
    height: auto;
	float: left;
	border-radius: 0.5rem;
}

.tyson-tko {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}

.animate {
	animation-name: example;
	animation-duration: 4s;
}

@keyframes example {
	from {opacity: 0;}
	to {opacity: 1;}
}

@media (min-width: 700px) {
	.tyson-tko__paragraph {
		padding-top: 8rem;
	}

	.mario, .megaman {
		width: 10rem;
		height: auto;
		top: -5rem;
		left: calc(50% - 5rem);
	}

	.tyson-win, .tyson-tko {
		width: 30rem;
	}

	.famicom-games__container img {
		width: 20rem;
	}
}

@media (min-width: 1024px) {
	.tyson-win__paragraph {
		padding-top: 3rem;
	}

	.tyson-tko__paragraph {
		padding-top: 15rem;
	}
}