.famicom-games__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
	justify-content: center;
}

.famicom-games__container img {
	width: 13rem;
    height: auto;
	border-radius: 0.5rem;
}

.tyson-win {
	width: 15rem;
    height: auto;
	float: left;
	border-radius: 0.5rem;
}

.tyson-tko {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}