* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

:root {
	--main-blue: #2573da; /* base */
	--very-light-gray: #f2f2f2;

	--light-blue: #4E96F5;
	--light-gray: #67788F;
	--dark-gray: #51565C;
	--black-blue: #232A33;

	--green-yellow: #D5F54E;
	--turquoise-blue: #5E4EF5;
	--weak-yellow: #F5DD4E;
	--purple-blue: #6E68A0;
	--dark-green: #398f2e;
	--fucsia: #E366B8;
	--celeste: #66C4E3;
	--palid-red: #E37366;
	--burn-yellow: #E3D166;

	--tone-1: #3667A8;
	/* --tone-2: #4E96F5; */
	--tone-3: #294E7F;
	--tone-4: #1C3557;

	--black: #000000;
	--white: #ffffff;

	--small-font: 1.2rem;
	--medium-font: 1.6rem;
	--lg-font: 2rem;
	--xlg-font: 2.2rem;
}

main {
	width: 100%;
	font-size: var(--medium-font);
	/* padding-top: 2rem; */
}

section {
	width: 100%;
	margin: 0 auto 0;
}

article {
	padding: 6rem 1rem;
	/* width: 30rem; */
	width: 94%;
	margin: 0 auto;
}

h2 {
	margin-bottom: 3rem;
	width: 100%;
	padding: 0 1rem;
}

div {
  width: 100%;
}

p {
	margin: 1rem 0;
  	width: 100%;
	line-height: 1.5;
}

section > h2 {
	/* width: 30rem; */
	width: 94%;
	margin: 0 auto 3rem;
	padding: 3rem 1rem;
	border-radius: 0.5rem;
}

.bold-italic {
	font-weight: bold;
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.yellow {
	background-color: yellow;
}

.box-shadow {
	box-shadow: rgba(41, 41, 41, 0.5) 0 0 15px 0;
}

.first-article {
	padding-top: 2rem;
}

.article1, .article2, .article3, .article4 {
	position: relative;
}

.past {
	background-color: var(--very-light-gray);
}

.centered-text {
	text-align: center;
}

.centered-text img {
	width: 28rem;
    height: auto;
	border-radius: 0.5rem;
	margin: 1rem auto 0;
}

.last-article {
	background-color: var(--black-blue);
	width: 100%;
	padding: 4rem 1rem;
}

.last-article div {
	width: 94%;
	margin: 0 auto;
}

.arrows-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--small-font);
}
  
.arrows-container a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--very-light-gray);
	text-decoration: none;
	font-weight: bold;
}

.bi-arrow-left {
	margin-right: 1rem;
}

.bi-arrow-right, .bi-house {
	margin-left: 1rem;
}

@media (min-width: 700px) {
	main {
		font-size: var(--lg-font);
	}

	article {
		width: 68rem;
		padding: 8rem 1rem;
	}

	.last-article div, section > h2  {
		width: 68rem;
	}

	.centered-text img {
		width: 45rem;
		height: auto;
	}

	.arrows-container {
		font-size: var(--medium-font);
	}
}

@media (min-width: 1024px) {
	article {
		width: 80rem;
		padding: 10rem 1rem;
	}

	.last-article div, section > h2   {
		width: 80rem;
	}
}