.level5-section {
	padding-top: 2rem;
}

.level5-h2 {
	background-color: var(--purple-blue);
	color: var(--white);
}

.level5-section .past article:first-child {
	border-top: 0.2rem solid var(--purple-blue);
}

.nfsu2 {
	position: absolute;
	width: auto;
	height: 5rem;
	top: -2.5rem;
	left: calc(50% - 3.96rem);
}

@media (min-width: 700px) {
    .nfsu2 {
        width: auto;
        height: 10rem;
        top: -5rem;
        left: calc(50% - 7.91rem);
    }
}