.table-section {
	/* padding-top: 2rem; */
	font-size: var(--small-font);
}

.arrow-back__container {
	position: sticky;
	top: 0;
	background-color: var(--tone-4);
}

.arrow-back__container p {
	width: 94%;
}

.table-h2 {
	/* width: 100%;
	margin: 0 auto 3rem;
	padding: 3rem 1rem; */
	border-bottom: 0.4rem solid var(--celeste);
    text-align: center;
}

.table-section #tables_container {
	width: 94%;
	padding: 0;
}

.table-section #tables_container div {
	width: 100%;
}

.table-section table {
    border-collapse: collapse;
    margin: 0 auto;
	background-color: var(--very-light-gray);
}

.table-section thead {
    background-color: var(--main-blue);
	color: var(--white);
}

tr td:first-child {
    text-align: start;
}

tr td, tr th {
    text-align: center;
    padding: 0.5rem;
    border-collapse: collapse;
    border: 0.1rem solid var(--white);
}

#tables_container div {
    margin-bottom: 12rem;
}

#ghost-n-goblins table tbody tr:nth-child(7),
#ghost-n-goblins table tbody tr:nth-child(10),
#mega-man table tbody tr:nth-child(27),
#mega-man table tbody tr:nth-child(39),
#mega-man table tbody tr:nth-child(43),
#mega-man table tbody tr:nth-child(45),
#mega-man table tbody tr:nth-child(48),
#mega-man table tbody tr:nth-child(60),
#pokemon table tbody tr:nth-child(26) {
	border-bottom: 0.3rem solid var(--black);
}

.statistics-container {
	width: 100%;
	background-color: var(--very-light-gray);
}

.statistics-container div, .arrow-back__container p {
	width: 94%;
	margin: 0 auto;
}

.arrow-back__container p {
	display: flex;
	align-items: center;
	height: 6rem;
}

.arrow-back__container a {
	color: var(--white);
	text-decoration: none;
}

.statistics-container span {
	font-weight: bold;
}

@media (min-width: 700px) {
	.table-section {
		font-size: var(--medium-font);
	}

	/* .table-h2 {
		width: 68rem;
	} */

	.statistics-container div, .arrow-back__container p {
		width: 68rem;
	}
}

@media (min-width: 1024px) {
	/* .table-h2 {
		width: 80rem;
	} */

	.statistics-container div, .arrow-back__container p {
		width: 80rem;
	}
}