.article1, .article2, .article3, .article4 {
	position: relative;
}

.plane {
	position: absolute;
	width: 5rem;
	height: auto;
	top: -2.5rem;
	left: calc(50% - 2.5rem);
	border-radius: 50%;
}

.police {
	position: absolute;
	width: 5rem;
	height: auto;
	top: -2.7rem;
	left: calc(50% - 2.5rem);
}

.boxer {
	position: absolute;
	width: auto;
	height: 5rem;
	top: -2.5rem;
	left: calc(50% - 1.38rem);
}

.frogs {
	position: absolute;
	width: 5rem;
	height: auto;
	top: -2rem;
	left: calc(50% - 2.5rem);
}

.level1-h2 {
	width: 100%;
	margin: 0 auto 3rem;
	padding: 3rem 1rem;
	background-color: var(--main-blue);
	color: var(--white);
	border-radius: 0.5rem;
}

.level1-section article:nth-child(2) {
	border-top: 0.2rem solid var(--main-blue);
}

.old-man-img, .woman-shopping, .boxer-woman {
	width: 15rem;
    height: auto;
	float: left;
	border-radius: 0.5rem;
}

.remember-img, .detective-pic, .boxing-atari, .flags {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}

.atari-games__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
	justify-content: center;
	margin-top: 2rem;
}

.atari-games__container img {
	width: 13rem;
    height: auto;
	border-radius: 0.5rem;
}

.centered-text .bonus {
	width: 14rem;
}

.animate {
	animation-name: example;
	animation-duration: 4s;
}

@keyframes example {
	from {opacity: 0;}
	to {opacity: 1;}
}

@media (min-width: 700px) {

	.level1-h2 {
		width: 68rem;
	}

	.level1-section article:nth-child(2) {
		min-height: 100rem;
	}

	/* .first-article {
		min-height: 100rem;
	} */

	.old-man__paragraph {
		padding-top: 8rem;
	}

	.plane {
		width: 10rem;
		height: auto;
		top: -5rem;
		left: calc(50% - 5rem);
	}

	.police {
		width: 10rem;
		height: auto;
		top: -5.4rem;
		left: calc(50% - 5rem);
	}

	.boxer {
		width: auto;
		height: 10rem;
		top: -5rem;
		left: calc(50% - 2.56rem);
	}

	.frogs {
		width: 10rem;
		height: auto;
		top: -4rem;
		left: calc(50% - 5rem);
	}

	.old-man-img, .woman-shopping, .boxer-woman {
		width: 30rem;
	}
	
	.remember-img, .detective-pic, .boxing-atari, .flags {
		width: 30rem;
	}
}

@media (min-width: 1024px) {
	.level1-h2 {
		width: 80rem;
	}

	.bonus-container {
		margin-top: 15rem;
	}
}