.level6-section {
	padding-top: 2rem;
}

.level6-h2 {
	/* width: 100%;
	margin: 0 auto 3rem;
	padding: 3rem 1rem; */
	background-color: var(--palid-red);
	color: var(--white);
	/* border-radius: 0.5rem; */
}

.level6-section .past article:first-child {
	border-top: 0.2rem solid var(--palid-red);
}

.teacher {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}

.derrick {
	width: 15rem;
    height: auto;
	float: left;
	border-radius: 0.5rem;
}

.kratos {
	position: absolute;
	width: 5rem;
	height: auto;
	top: -2.39rem;
	left: calc(50% - 2.5rem);
}

/* .ps3-games__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
	justify-content: center;
}

.ps3-games__container img {
	width: 13rem;
    height: auto;
	border-radius: 0.5rem;
} */

@media (min-width: 700px) {

	/* .level6-h2 {
		width: 68rem;
	} */

	.teacher {
		width: 30rem;
	}
	
	.derrick {
		width: 30rem;
	}

	.kratos {
		width: 10rem;
		height: auto;
		top: -4.77rem;
		left: calc(50% - 5rem);
	}
}

@media (min-width: 1024px) {
	/* .level6-h2 {
		width: 80rem;
	} */
}