.teacher {
	width: 15rem;
    height: auto;
	float: right;
	border-radius: 0.5rem;
}

.derrick {
	width: 15rem;
    height: auto;
	float: left;
	border-radius: 0.5rem;
}

/* .ps3-games__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
	justify-content: center;
}

.ps3-games__container img {
	width: 13rem;
    height: auto;
	border-radius: 0.5rem;
} */