.references-section {
	padding-top: 2rem;
}

.references-section article {
    padding: 2rem 1rem;
}

.references-h2 {
	background-color: var(--tone-3);
	color: var(--white);
}

.references-section article:nth-child(2) {
	border-top: 0.2rem solid var(--tone-3);
}

.ref-h3 {
    text-align: start;
    color: var(--tone-3);
}

.reference-container {
    background-color: var(--very-light-gray);
    border-radius: 0.5rem;
}

@media (min-width: 700px) {
    .references-section article {
        padding: 4rem 1rem;
    }
}